.vscode/**
.vscode-test/**
.tmp-*/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
CHANGELOG.repo.md
media/demo/*.gif
**/tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.conda
dist-web/**
apps/**
demo/**
.github/**
docs/**
tools/**
todo.md
README.md
media/icon.png
media/icon-32.png
media/icon-pwa.svg
media/icon.svg
tex_samplecode
media/vendor/synctex/**
